<a href="https://colab.research.google.com/github/vijayalakshmig1/CodSoft/blob/main/Titanic_Survival_Prediction(Task_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Titanic-Dataset.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Check for missing values
print(data.isnull().sum())

# Fill missing values
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data['Fare'].fillna(data['Fare'].median(), inplace=True)

# Drop columns that won't be used
data.drop(['Cabin', 'Ticket', 'Name'], axis=1, inplace=True)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Convert 'Sex' and 'Embarked' into numerical values
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Create a new feature 'FamilySize'
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1

data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_Q,Embarked_S,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,False,True,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,False,False,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,True,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,True,2
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,False,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,False,True,1
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,False,True,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,False,True,4
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,False,False,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,True,False,1

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
X = data.drop('Survived', axis=1)
y = data['Survived']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val

(     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked_Q  \
 331          332       1    0  45.5      0      0   28.5000       False
 733          734       2    0  23.0      0      0   13.0000       False
 382          383       3    0  32.0      0      0    7.9250       False
 704          705       3    0  26.0      1      0    7.8542       False
 813          814       3    1   6.0      4      2   31.2750       False
 ..           ...     ...  ...   ...    ...    ...       ...         ...
 106          107       3    1  21.0      0      0    7.6500       False
 270          271       1    0  28.0      0      0   31.0000       False
 860          861       3    0  41.0      2      0   14.1083       False
 435          436       1    1  14.0      1      2  120.0000       False
 102          103       1    0  21.0      0      1   77.2875       False

      Embarked_S  FamilySize
 331        True           1
 733        True           1
 382        True           1
 704        True           2
 813        True           7
 ..          ...         ...
 106        True           1
 270        True           1
 860        True           3
 435        True           4
 102        True           2

 [712 rows x 10 columns],
      PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  \
 709          710       3    0  28.0      1      1  15.2458       False
 439          440       2    0  31.0      0      0  10.5000       False
 840          841       3    0  20.0      0      0   7.9250       False
 720          721       2    1   6.0      0      1  33.0000       False
 39            40       3    1  14.0      1      0  11.2417       False
 ..           ...     ...  ...   ...    ...    ...      ...         ...
 433          434       3    0  17.0      0      0   7.1250       False
 773          774       3    0  28.0      0      0   7.2250       False
 25            26       3    1  38.0      1      5  31.3875       False
 84            85       2    1  17.0      0      0  10.5000       False
 10            11       3    1   4.0      1      1  16.7000       False

      Embarked_S  FamilySize
 709       False           3
 439        True           1
 840        True           1
 720        True           2
 39        False           2
 ..          ...         ...
 433        True           1
 773       False           1
 25         True           7
 84         True           1
 10         True           3

 [179 rows x 10 columns],
 331    0
 733    0
 382    0
 704    0
 813    0
       ..
 106    1
 270    0
 860    0
 435    1
 102    0
 Name: Survived, Length: 712, dtype: int64,
 709    1
 439    0
 840    0
 720    1
 39     1
       ..
 433    0
 773    0
 25     1
 84     1
 10     1
 Name: Survived, Length: 179, dtype: int64)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)

In [ ]:
X_train, X_val

(array([[-0.45306593, -1.61413602, -0.7243102 , ..., -0.30335547,
          0.59248936, -0.55466613],
        [ 1.11387354, -0.40055118, -0.7243102 , ..., -0.30335547,
          0.59248936, -0.55466613],
        [-0.25427511,  0.81303367, -0.7243102 , ..., -0.30335547,
          0.59248936, -0.55466613],
        ...,
        [ 1.60890168,  0.81303367, -0.7243102 , ..., -0.30335547,
          0.59248936,  0.63485883],
        [-0.04768856, -1.61413602,  1.38062393, ..., -0.30335547,
          0.59248936,  1.22962131],
        [-1.34567573, -1.61413602, -0.7243102 , ..., -0.30335547,
          0.59248936,  0.04009635]]),
 array([[ 1.02032491,  0.81303367, -0.7243102 , ..., -0.30335547,
         -1.68779402,  0.63485883],
        [-0.03209712, -0.40055118, -0.7243102 , ..., -0.30335547,
          0.59248936, -0.55466613],
        [ 1.53094449,  0.81303367, -0.7243102 , ..., -0.30335547,
          0.59248936, -0.55466613],
        ...,
        [-1.64581091,  0.81303367,  1.38062393, ..., -0.30335547,
          0.59248936,  3.01390875],
        [-1.4158372 , -0.40055118,  1.38062393, ..., -0.30335547,
          0.59248936, -0.55466613],
        [-1.7042788 ,  0.81303367,  1.38062393, ..., -0.30335547,
          0.59248936,  0.63485883]]))

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)
model

LogisticRegression()

In [ ]:
y_pred = model.predict(X_val)
print("Accuracy:", accuracy_score(y_val, y_pred))
print(confusion_matrix(y_val, y_pred))
print(classification_report(y_val, y_pred))

Accuracy: 0.8044692737430168
[[89 16]
 [19 55]]
              precision    recall  f1-score   support

           0       0.82      0.85      0.84       105
           1       0.77      0.74      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.80      0.80      0.80       179

In [ ]:
ThankYou!!!!!!!